* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .background_1 {
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10rem;
    width: 10rem;
} */

.background_1 {
    position: fixed;
    display: flex;
    justify-content: center;
}

.bg1_IMG {
    width: 47rem;
}

.background_2 img {
    height: 25rem;
}

.navbar {
    position: absolute;
    top: 1px;
}

.content-box {
    position: relative;
    top: 4rem;
    border-radius: 1rem;
    max-height: 30rem;
}

.nav-box li {
    list-style-type: none;
    line-height: 1rem;
}

.nav-box .btn {
    border: 1px solid aquamarine;
    border-radius: 50%;
    color: aquamarine;
}

.nav-box .btn:hover {
    background-color: aquamarine;
    color: blue;
}

.wing-footer {
    display: flex;
    justify-content: space-between;
}

.next-btn,
.confirm-btn {
    background-color: blue;
    color: white;
}

.next-btn:hover,
.confirm-btn:hover {
    background-color: rgb(68, 68, 235);
}

.plans-info,
.add-ons,
.finish-up,
.appreciation {
    display: none;
    position: absolute;
}

.card {
    max-width: 10rem;
}

.card_footer {
    line-height: 1rem;
}

.card:hover {
    background-color: rgb(233, 233, 233);
    border: 1px solid blue;
    cursor: pointer;
}

.card .yearly,
.yearly-addOns,
.add-yearly,
.plan-yearly,
.confirm-btn {
    display: none;
}

/* .return-btn {
    opacity: 0;
} */

.addOns_items .select .services,
.addOns_items .select .storage,
.addOns_items .select .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.select .services:hover,
.select .storage:hover,
.select .profile:hover {
    border: 1px solid  blue;
    cursor: pointer;
}

.select .services:active,
.select .storage:active,
.select .profile:active {
    border: 1px solid  blue;
    background-color: rgb(209, 209, 248);
    cursor: pointer;
}

.choice-plan {
    background-color: rgb(209, 209, 248);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
}

.selected_plan {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    line-height: 0.3rem;
}

.selected_adds .add_1,
.selected_adds .add_2 {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    line-height: 0.7rem;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 1rem;
}

.thanks-Tick {
    width: 3.5rem;
}